@font-face {
  font-family: "iconfont"; /* Project id 2490249 */
  src: url('iconfont.woff2?t=1624266143889') format('woff2'),
       url('iconfont.woff?t=1624266143889') format('woff'),
       url('iconfont.ttf?t=1624266143889') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wuxuliebiao-quan:before {
  content: "\e610";
}

.icon-yuanxing:before {
  content: "\e60e";
}

.icon-zhengfangxing-copy:before {
  content: "\ec1f";
}

